body
{
    background-color: #393E46;
}

h1{
    margin-top: 74px;
    margin-bottom: 12px;
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    color: #4ECCA3;
    text-align: center;
}

.container
{
   text-align: center;
}

.dice
{
    display: inline-block;
    margin: 78px;
}

p
{
font-size: 27px;
font-family: 'Lobster', cursive;
color: #4ECCA3;
}
